*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: Inter, sans-serif;
}
.container{
    width: 100%;
    background: #21222A;
    display: flex;
    align-items: center;
    height: 90px;
    padding: 30px 25px;
}
.container > img{
    padding: 10px 10px 10px 20px;
}
.container h3{
    font-size: 1.5rem;
    color: #61DAFB;
    margin-right: auto;
}
.container h4{
    color: #DEEBF8;
    margin-right: 30px;
    font-size: 1.3rem;
}

.main--compo{
    background: #282D35;
    background-image: url('../public/images/reactjs-icon 2.png');
    background-repeat: no-repeat;
    background-position: right 55%;
    height: 90vh;
    color: #FFFFFF;
}
.main--compo > ul{
    font-size: 1.8rem;
    padding-left: 6rem;
    line-height: 4rem;
}
.main--compo > h1{
    font-size: 3rem;
    padding: 40px 0px 40px 40px;
}
.change--bull--color > li{
    max-width: 650px;
}
.change--bull--color > li::marker{
    font-size: 2.5rem;
    color:#61DAFB ;
}